name: Auto Gaming Blogger

on:
  schedule:
    # التوقيت العالمي (UTC) يقل عن السعودية بـ 3 ساعات
    # 7 UTC = 10 صباحاً بتوقيت السعودية
    # 11 UTC = 2 ظهراً بتوقيت السعودية
    # 15 UTC = 6 مساءً بتوقيت السعودية
    # 19 UTC = 10 مساءً بتوقيت السعودية
    # 22 UTC = 1 صباحاً بتوقيت السعودية
    - cron: '0 7,11,15,19,22 * * *'
    
  workflow_dispatch: # يتيح لك التشغيل اليدوي في أي وقت

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' 
        
    - name: Install Libs
      run: pip install -r requirements.txt
      
    - name: Run Bot
      env:
        BLOGGER_TOKEN_JSON: ${{ secrets.BLOGGER_TOKEN_JSON }}
        GG_TOKEN: ${{ secrets.GG_TOKEN }}
        RSS_FEEDS: ${{ secrets.RSS_FEEDS }}
      run: python -u main.py
