name: Auto Gaming Blogger

on:
  push:
  schedule:
    # الأوقات: 8 ص، 11 ص، 2 ظهراً، 5 عصراً، 8 مساءً
    - cron: '0 8,11,14,17,20 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' 
        
    - name: Install Libs
      run: pip install -r requirements.txt
      
    - name: Run Bot
      env:
        # هنا كان النقص.. يجب إضافة الأسطر التالية:
        BLOGGER_TOKEN_JSON: ${{ secrets.BLOGGER_TOKEN_JSON }}
        GG_TOKEN: ${{ secrets.GG_TOKEN }}
        RSS_FEEDS: ${{ secrets.RSS_FEEDS }}
      run: python -u main.py
